/* You can add global styles to this file, and also import other style files */
@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";


.container-fluid {
  max-width: 1600px;
}

main {
  margin-top: 2rem !important;
}

.border-bottom {
  border-color: #33d4de !important;
  padding-bottom: 0.5rem !important;
}

.bg-primary {
  background-color: #e0f8f9 !important;
}

.p-right-2 {
  padding-right: 2% !important;
}

.p-left-2 {
  padding-left: 2% !important;
}

.nav-link-spacing {
  margin-right: 2%;
}

.active {
  font-weight: 600;
}

.half-width {
  width: 70%;
}

.text-gray-custom {
  color: #686868;
}

.fw-semi-bold {
  font-weight: 600;
}

.big-square {
  width: 200px;
  height:200px;
}

.square {
  width: 110px;
  height:110px;
}

.bouton-voir-plus {
  background-color: #33d4de;
  color:white;
}

.bouton-voir-plus:hover {
  background-color: #77818e;
  color:white;
}

.bouton-ajouter-compagnon {
  width: 94% !important; 
}

.fixed-size-textarea {
  resize: none;
}

/* Calendrier */

.wrapper{
  width: 450px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 15px 40px rgba(0,0,0,0.12);
}
.wrapper header{
  display: flex;
  align-items: center;
  padding: 25px 30px 10px;
  justify-content: space-between;
}
header .icons{
  display: flex;
}
header .icons span{
  height: 38px;
  width: 38px;
  margin: 0 1px;
  cursor: pointer;
  color: #878787;
  text-align: center;
  line-height: 38px;
  font-size: 1.9rem;
  user-select: none;
  border-radius: 50%;
}
.icons span:last-child{
  margin-right: -10px;
}
header .icons span:hover{
  background: #f2f2f2;
}
header .current-date{
  font-size: 1.45rem;
  font-weight: 500;
}
.calendar{
  padding: 20px;
}
.calendar ul{
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  text-align: center;
}
.calendar .days{
  margin-bottom: 20px;
}
.calendar li{
  color: #333;
  width: calc(100% / 7);
  font-size: 1.07rem;
}
.calendar .weeks li{
  font-weight: 500;
  cursor: default;
}
.calendar .days li{
  z-index: 1;
  cursor: pointer;
  position: relative;
  margin-top: 30px;
}
.days li.inactive{
  color: #aaa;
}
.days li.active{
  color: #fff;
}
.days li::before{
  position: absolute;
  content: "";
  left: 50%;
  top: 50%;
  height: 40px;
  width: 40px;
  z-index: -1;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}
.days li.active::before{
  background: #048b38;
}
.days li:not(.active):hover::before{
  background: #f2f2f2;
}

.fc-col-header-cell-cushion {
  color: #686868 ;
  text-decoration: none;
}

.fc-col-header-cell-cushion:hover {
  color: #33d4de !important;
}

.fc-daygrid-day-number{
  color: rgb(37, 136, 154) ;
  text-decoration: none;
}

.fc-toolbar-title {
  color:#33d4de;
  text-transform: capitalize; 
}

.fc-prev-button, .fc-next-button {
  background-color: #33d4de !important;
  border-color: white !important;
}

.fc, .fc-media-screen, .fc-direction-ltr, .fc-theme-standard {
  padding:5% !important;

}

.fc, .fc-media-screen, .fc-direction-ltr, .fc-theme-standard {
  padding-bottom: 0 !important;
}

.footer {
  position:absolute;
  left:0;
  bottom:0;
}