<div class="modal-content">

  <div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel">S'inscrire</h5>
    <button type="button" class="close" aria-label="Close">X</button>
  </div>
  <!--
  <div class="modal-body">
   Formulaire de création de compte
    <form [formGroup]="userFormGroup" (ngSubmit)="onSubmit()">
       Champs du formulaire
      <div class="form-group">

         Section pour le prénom
        <label class="col-sm-4 col-form-label"></label>
        <input class="form-control" type="text" placeholder="Votre prénom" formControlName="fName" required/>

        <div
          *ngIf="userFormGroup.get('fName').invalid && (userFormGroup.get('fName').dirty || userFormGroup.get('fName').touched)"
          class="alert">
          <div *ngIf="userFormGroup.get('fName').errors?.['required']" class="text-danger">
            Le prénom est requis.
          </div>
          <div *ngIf="userFormGroup.get('fName').errors?.['minlength']" class="text-danger">
            Doit contenir au moins deux caractères.
          </div>
          <div *ngIf="userFormGroup.get('fName').errors?.['pattern']" class="text-danger">
            Le nom doit contenir uniquement des lettres et des espaces.
          </div>
        </div>




        <label class="col-sm-4 col-form-label"></label>
        <input class="form-control" type="text" placeholder="Votre nom" formControlName="lName"/>

        <div
          *ngIf="userFormGroup.get('lName').invalid && (userFormGroup.get('lName').dirty || userFormGroup.get('lName').touched)"
          class="alert">
          <div *ngIf="userFormGroup.get('lName').errors?.['required']" class="text-danger">
            Le nom est requis.
          </div>
          <div *ngIf="userFormGroup.get('lName').errors?.['minlength']" class="text-danger">
            Doit contenir au moins deux caractères.
          </div>
          <div *ngIf="userFormGroup.get('lName').errors?.['pattern']" class="text-danger">
            Le nom doit contenir uniquement des lettres et des espaces.
          </div>
        </div>



        <hr>



        <input class="form-control" type="text" placeholder="Votre numéro de téléphone" formControlName="noTel"/>

        <div
          *ngIf="userFormGroup.get('noTel').invalid && (userFormGroup.get('noTel').dirty || userFormGroup.get('noTel').touched)"
          class="alert">
          <div *ngIf="userFormGroup.get('noTel').errors?.['required']" class="text-danger">
            Le numéro de téléphone est requis.
          </div>
          <div *ngIf="userFormGroup.get('noTel').errors?.['pattern']" class="text-danger">
            Le format du numéro de téléphone est invalide. Le format attendu est 555-555-5555.
          </div>
        </div>




        <label class="col-sm-4 col-form-label"></label>
        <input class="form-control" type="email" placeholder="Votre email" formControlName="email"/>

        <div
          *ngIf="userFormGroup.get('email').invalid && (userFormGroup.get('email').dirty || userFormGroup.get('email').touched)"
          class="alert">
          <div *ngIf="userFormGroup.get('email').errors?.['required']" class="text-danger">
            L'adresse email est requise.
          </div>
          <div *ngIf="userFormGroup.get('email').errors?.['email']" class="text-danger">
            L'adresse email est invalide.
          </div>
        </div>



        <label class="col-sm-4 col-form-label"></label>
        <input class="form-control" type="password" placeholder="Votre mot de passe" formControlName="password"/>

        <div
          *ngIf="userFormGroup.get('password').invalid && (userFormGroup.get('password').dirty || userFormGroup.get('password').touched)"
          class="alert">
          <div *ngIf="userFormGroup.get('password').errors?.['required']" class="text-danger">
            Le mot de passe est obligatoire.
          </div>
          <div *ngIf="userFormGroup.get('password').errors?.['minlength']" class="text-danger">
            Le mot de passe doit contenir au moins 8 caractères.
          </div>
          <div *ngIf="userFormGroup.get('password').errors?.['pattern']" class="text-danger">
            Le mot de passe doit inclure au moins une lettre minuscule, une lettre majuscule, un chiffre, et un
            caractère spécial.
          </div>
        </div>


        <div class="modal-footer">
          <button type="button" class="btn btn-close" (click)="close()">Fermer</button>

          <button type="submit" class="btn btn-compte">S'inscrire</button>
        </div>

      </div>
    </form>
  </div>

</div>-->
  </div>
